.icon-button {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: to-rem(8px);
    display: flex;
    justify-content: center;

    &__icon {
        fill: $black-500;
        height: to-rem(38px);
        width: to-rem(38px);
    }

    &:focus-visible {
        @include focus($primary-700, 'small');
    }
}