.logo-chp {
  $self: &;

  height: to-rem(36px);
  width: to-rem(72px);

  &__letter {
    fill: $black-500;
  }

  &__dot {
    fill: $primary-500;
  }

  &--xs {
    height: to-rem(9px);
    width: to-rem(18px);
  }

  &--s {
    height: to-rem(16px);
    width: to-rem(32px);
  }

  &--l {
    height: to-rem(60px);
    width: to-rem(120px);
  }

  &--xl {
    height: to-rem(120px);
    width: to-rem(240px);
  }

  &--white{
    #{$self}__letter {
      fill: $black-500;
    }

    #{$self}__dot {
      fill: $primary-500;
    }
  }

  &--black{
    #{$self}__letter {
      fill: $white;
    }

    #{$self}__dot {
      fill: $primary-500;
    }
  }

  &--green{
    #{$self}__letter {
      fill: $black-500;
    }

    #{$self}__dot {
      fill: $white;
    }
  }
}
