.costumers {
  @include container();

  align-items: center;
  flex-direction: row;
  gap: to-rem(48px);
  justify-content: center;
  padding-block: to-rem(32px);
  position: relative;

  @include viewport(tablet) {
    justify-content: space-between;
    max-width: to-rem(800px);
  }

  &__right-content {
    display: grid;
    grid-template-rows: 
      [title] auto
      to-rem(18px) [description] auto
      to-rem(48px) [button] auto;

    @include viewport(tablet) {
      grid-template-rows: 
      [description] auto
      to-rem(34px) [button] auto;
    }
  }

  &__left-content {
    @include viewport(tablet) {
      display: flex;
      flex-direction: column;
      gap: to-rem(38px);
    }
  }

  &__images {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: to-rem(16px);
    justify-content: center;
    width: to-rem(56px);

    @include viewport(tablet) {
      flex-flow: row wrap;
      height: fit-content;
      width: fit-content;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    grid-row: title;
    width: fit-content;

    @include viewport(tablet) {
      display: none;
    }
  }


  &__header-tablet {
    display: none;

    @include viewport(tablet) {
      align-items: end;
      display: flex;
      flex-direction: row;
      gap: to-rem(16px);
      width: fit-content;
    }

    @include respond-from-to($tablet, 726px) {
      display: none;
    }
  }

  &__eyebrow {
    @include viewport(tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    margin-top: to-rem(-6px);

    @include viewport(tablet) {
      margin-left: to-rem(-4px);
    }
  }

  &__divider {
    @include divider();

    display: none;
    height: to-rem(200px);
    opacity: .2;

    @include viewport(tablet) {
      display: block;
    }
  }

  &__description {
    grid-row: description;
    max-width: 24ch;
    width: clamp(18ch, 18ch, 24ch);

    @include viewport(tablet) {
      max-width: 28ch;
      width: clamp(24ch, 24ch, 28ch);
    }
  }

  &__button {
    grid-row: button;
  }
}
