.banner-slide {
  @include main();

  $self: &;

  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding-top: to-rem(146px);
  position: sticky;
    top: 0;
  @include viewport(tablet){
    padding-top: to-rem(220px);
  }

  &__copy {
    display: flex;
    flex-direction: column;
    gap: to-rem(32px);
  }

  &__content {
    @include container();

    display: flex;
    flex-direction: column;
    gap: to-rem(56px);
  }

  &__background {
    bottom: 0;
    display: flex;
    height: 100vh;
    left: 0;
    position: absolute;
    width: 100vw;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: to-rem(24px);
  }

  &__body {
    max-width: 32ch;

    @include viewport(tablet) {
      max-width: 38ch;
    }
  }

  &--1 {
    border-radius: 8px;
  }

  &--2 {
    opacity: 0;

    #{$self}__body {
      color: $primary-1000;
    }
  }

  &--3 {
    opacity: 0;

    .title-h1 {
      color: $white;
    }

    #{$self}__body {
      color: $black-200;
    }
  }

  &__wave-container {
    aspect-ratio: 1;
    position: relative;
    right: -50vw;
    width: 100vw;
  }

  &__wave-green {
    position: absolute;
    top: 10%;
    transform: scale(1.2);
  }

  &__wave-black {
    position: absolute;
  }

  &__wave-container-2 {
    aspect-ratio: 1;
    bottom: -50vw;
    position: relative;
    right: -50vw;
    transform: scale(0);
    width: 100vw;
  }

  @keyframes rotate {
    from {
      transform: rotate(360deg); /* Comienza desde 0 grados de rotación */
    }

    to {
      transform: rotate(0deg); /* Termina en 360 grados de rotación, una rotación completa */
    }
  }

  @keyframes rotate2 {
    from {
      transform: rotate(0deg); /* Comienza desde 0 grados de rotación */
    }

    to {
      transform: rotate(360deg); /* Termina en 360 grados de rotación, una rotación completa */
    }
  }
}
