.home-banner-slide {
  @include main();

  $self: &;

  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  padding-top: to-rem(146px);
  position: sticky;
  top: 0;

  @include viewport(tablet) {
    padding-top: to-rem(220px);
  }

  &__content {
    @include container();

    display: flex;
    flex-direction: column;
  }

  &__word {
    position: relative;
  }

  &__word-emphasis {
    position: absolute;
    width: 0;
    height: to-rem(20px);
    border-radius: to-rem(16px);
    background-color: $white;
    z-index: $elevation-negative;
    top: 46%;
    left: -10%;
  }

  &__subtitle {
    margin-top: to-rem(24px);

    @include viewport(tablet) {
      margin-top: to-rem(16px);
    }
  }

  &__body {
    margin-top: to-rem(32px);
    max-width: 32ch;

    @include viewport(tablet) {
      margin-top: to-rem(48px);
      max-width: 38ch;
    }
  }

  &__button {
    margin-top: to-rem(56px);

    @include viewport(tablet) {
      margin-top: to-rem(46px);
    }
  }

  &--2 {
    opacity: 0;

    #{$self}__body {
      color: $primary-1000;
    }
  }

  &--3 {
    opacity: 0;

    .title-h1 {
      color: $white;
    }

    #{$self}__body {
      color: $black-200;
    }
  }

  &__wave-container {
    aspect-ratio: 1;
    bottom: 0;
    position: absolute;
    right: -25%;
    width: 300px;

    @include viewport(tablet) {
      bottom: -25%;
      width: 500px;
    }

    @include viewport(desktop) {
      width: 820px;
      right: -25%;
      bottom: -50%;
    }
  }

  &__wave-container-2 {
    transform: scale(0);
  }

  &__wave-black,
  &__wave-green {
    position: absolute;
  }
}
