/* -------------------------------------------*\
    1. Breakpoints
\*------------------------------------------- */

$desktop: 1024px;
$desktop-large: 1440px;
$mobile-large: 410px;
$tablet: 600px;
$padding: 34px;
$grid: 1240px;
