/* -------------------------------------------*\
    1. Global variables
\*------------------------------------------- */
html {
  scroll-behavior: smooth ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.lock-scroll {
  overflow: hidden;
  touch-action: none;
}

body {
  background-color: $white;
}

/* -------------------------------------------*\
    2. Global styles
\*------------------------------------------- */

$header-mobile-height: 82px;