/* -------------------------------------------*\
  1. Responsive
\*------------------------------------------- */

@mixin viewport($breakpoint) {
  @if ($breakpoint == mobile-large) {
    @media only screen and (min-width: $mobile-large) {
      @content;
    }
  }

  @if ($breakpoint == tablet) {
    @media only screen and (min-width: $tablet) {
      @content;
    }
  }

  @if ($breakpoint == desktop) {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }

  @if ($breakpoint == desktop-large) {
    @media only screen and (min-width: $desktop-large) {
      @content;
    }
  }
}

@mixin respond-from-to($min-width, $max-width: 0) {
  @if $max-width > 0 {
    @media only screen and (min-width: #{$min-width}) and (max-width: #{$max-width}) {
      @content;
    }
  }

  @else {
    @media only screen and (min-width: #{$min-width}) {
      @content;
    }
  }
}

@mixin respond-only-for($breakpoint) {
  @if ($breakpoint == mobile) {
    @media only screen and (min-width: 0) and (max-width: $tablet) {
      @content;
    }
  }

  @if ($breakpoint == tablet) {
    @media only screen and (min-width: ($tablet + 1)) and (max-width: $desktop) {
      @content;
    }
  }

  @if ($breakpoint == desktop) {
    @media only screen and (min-width: ($desktop + 1)) and (max-width: $desktop-large) {
      @content;
    }
  }
}

/* -------------------------------------------*\
    2. Layout
\*------------------------------------------- */

@mixin main {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}

@mixin container {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  width: 100vw;

  @include viewport(tablet) {
    max-width: $grid;
    width: 100%;
  }
}

/* -------------------------------------------*\
    3. A11
\*------------------------------------------- */

@mixin focus-base($color: $black-500, $offset: 8px, $outline: 3px) {
  outline: $outline solid $color;
  outline-offset: to-rem($offset);
}

@mixin focus($color: $black-500, $size: 'default') {
  @if $size == 'large' {
    @include focus-base($color, 8px, 2px);
  }

  @if $size == 'default' {
    @include focus-base($color, 6px, 2px);
  }

  @if $size == 'small' {
    @include focus-base($color, 0, 2px);
  }
}

/* -------------------------------------------*\
    4. Utils functions
\*------------------------------------------- */

@function to-rem($size) {
  @if $size == 0 {
    @return 0;
  }

  @return calc($size / 16px * 1rem);
}

@mixin only-in-desktop($display: block) {
  display: none;
  visibility: hidden;

  @include viewport(desktop) {
    display: $display;
    visibility: visible;
  }
}

@mixin only-in-mobile($display: block) {
  display: $display;
  visibility: visible;

  @include viewport(desktop) {
    display: none;
    visibility: hidden;
  }
}

/* -------------------------------------------*\
    5. Divider
\*------------------------------------------- */

@mixin divider() {
  background-color: $black-500;
  border-radius: to-rem(8px);
  width: to-rem(2px);
}