/* -------------------------------------------*\
  1. Loading Fonts
\*------------------------------------------- */

$primary-font: 'Avenir';
$secondary-font: 'Poppins';

/* Avenir Regular */
@font-face {
  font-display: swap;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 400;
  src:
    url('/public/fonts/avenir/avenir-regular.woff2') format('woff2'),
    url('/public/fonts/avenir/avenir-regular.woff') format('woff');
  text-rendering: optimizelegibility;
}

/* Avenir Semibold */
@font-face {
  font-display: swap;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 600;
  src:
    url('/public/fonts/avenir/avenir-semibold.woff2') format('woff2'),
    url('/public/fonts/avenir/avenir-semibold.woff') format('woff');
  text-rendering: optimizelegibility;
}

/* Avenir Bold */
@font-face {
  font-display: swap;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 700;
  src:
    url('/public/fonts/avenir/avenir-bold.woff2') format('woff2'),
    url('/public/fonts/avenir/avenir-bold.woff') format('woff');
  text-rendering: optimizelegibility;
}

/* Poppins light */
@font-face {
  font-display: swap;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 300;
  src:
    url('/public/fonts/poppins/poppins-light.woff2') format('woff2'),
    url('/public/fonts/poppins/poppins-light.woff') format('woff');
  text-rendering: optimizelegibility;
}

/* Poppins Regular */
@font-face {
  font-display: swap;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  src:
    url('/public/fonts/poppins/poppins-regular.woff2') format('woff2'),
    url('/public/fonts/poppins/poppins-regular.woff') format('woff');
  text-rendering: optimizelegibility;
}

/* Poppins Semibold */
@font-face {
  font-display: swap;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 600;
  src:
    url('/public/fonts/poppins/poppins-semiBold.woff2') format('woff2'),
    url('/public/fonts/poppins/poppins-semiBold.woff') format('woff');
  text-rendering: optimizelegibility;
}

/* -------------------------------------------*\
  2. Font Family
\*------------------------------------------- */

$font-family-primary: 'Avenir', arial, helvetica, sans-serif;
$font-family-secondary: 'Poppins', arial, helvetica, sans-serif;

/* -------------------------------------------*\
  3. Fundations
\*------------------------------------------- */

%base-typography {
  color: $black-500;
  font-style: normal;
}

%base-primary {
  font-family: $font-family-primary;
}

%base-secondary {
  font-family: $font-family-secondary;
}

%light {
  font-weight: 300;
}

%regular {
  font-weight: 400;
}

%semibold {
  font-weight: 600;
}

%bold {
  font-weight: 700;
}

@mixin title-large {
  @extend %base-typography;
  @extend %base-primary;
  @extend %bold;

  font-size: to-rem(26px);
  letter-spacing: to-rem(-0.72px);
  line-height: to-rem(48px);

  @include viewport(tablet) {
    font-size: to-rem(64px);
    letter-spacing: to-rem(-1.28px);
    line-height: to-rem(84px);
  }
}

@mixin title-h1 {
  @extend %base-typography;
  @extend %base-primary;
  @extend %bold;

  font-size: to-rem(52px);
  letter-spacing: to-rem(-1.04px);
  line-height: to-rem(48px);

  @include viewport(tablet) {
    font-size: to-rem(86px);
    letter-spacing: to-rem(-1.72px);
    line-height: to-rem(78px);
  }
}

@mixin title-h2 {
  @extend %base-typography;
  @extend %base-primary;
  @extend %bold;

  font-size: to-rem(40px);
  letter-spacing: to-rem(-0.8px);
  line-height: to-rem(40px);

  @include viewport(tablet) {
    font-size: to-rem(60px);
    letter-spacing: to-rem(-1.2px);
    line-height: to-rem(68px);
  }
}


@mixin title-h3 {
  @extend %base-typography;
  @extend %base-primary;
  @extend %bold;

  font-size: to-rem(36px);
  letter-spacing: to-rem(-0.72px);
  line-height: to-rem(36px);

  @include viewport(tablet) {
    font-size: to-rem(42px);
    line-height: to-rem(52px);
  }
}


@mixin title-h4 {
  @extend %base-typography;
  @extend %base-primary;
  @extend %bold;

  font-size: to-rem(32px);
  letter-spacing: to-rem(-0.64px);
  line-height: to-rem(32px);

  @include viewport(tablet) {
    font-size: to-rem(34px);
    letter-spacing: to-rem(-0.68px);
    line-height: to-rem(48px);
  }
}

@mixin title-h5 {
  @extend %base-typography;
  @extend %base-primary;
  @extend %regular;

  font-size: to-rem(24px);
  letter-spacing: to-rem(-0.48px);
  line-height: to-rem(24px);

  @include viewport(tablet) {
    font-size: to-rem(28px);
    letter-spacing: to-rem(-0.56px);
    line-height: to-rem(36px);
  }
}

@mixin title-h6 {
  @extend %base-typography;
  @extend %base-secondary;
  @extend %semibold;

  font-size: to-rem(20px);
  line-height: to-rem(20px);

  @include viewport(tablet) {
    font-size: to-rem(28px);
    font-weight: 400;
    line-height: to-rem(36px);
  }
}

@mixin subtitle {
  @extend %base-typography;
  @extend %base-secondary;
  @extend %semibold;

  font-size: to-rem(28px);
  line-height: to-rem(42px);
}

@mixin button {
  @extend %base-typography;
  @extend %base-primary;
  @extend %bold;

  font-size: to-rem(20px);
  letter-spacing: to-rem(-0.4px);
  line-height: to-rem(40px);
}

@mixin body {
  @extend %base-typography;
  @extend %base-secondary;
  @extend %light;

  color: $black-300;
  font-size: to-rem(18px);
  line-height: to-rem(34px);

  @include viewport(tablet) {
    font-size: to-rem(16px);
  }
}

@mixin addorment-small {
  @extend %base-typography;
  @extend %base-secondary;
  @extend %bold;

  font-size: to-rem(14px);
  line-height: to-rem(26px);
}

@mixin link-mobile {
  @extend %base-typography;
  @extend %base-primary;
  @extend %bold;

  font-size: to-rem(36px);
  letter-spacing: to-rem(-0.72px);
  line-height: to-rem(36px);
}

@mixin link-desktop {
  @extend %base-typography;
  @extend %base-secondary;
  @extend %light;

  font-size: to-rem(16px);
  line-height: to-rem(30px);
}

.title-large {
  @include title-large();
}

.title-h1 {
  @include title-h1();
}

.title-h2 {
 @include title-h2();
}

.title-h3 {
  @include title-h3();
}

.title-h4 {
  @include title-h4();
}

.title-h5 {
  @include title-h5();
}

.title-h6 {
  @include title-h6();
}

.subtitle {
 @include subtitle();
}

.button {
  @include button();
}

.body {
  @include body();
}

.addorment-small {
  @include addorment-small();
}

.link-mobile {
  @include link-mobile();
}

.link-desktop {
  @include link-desktop();
}
